## 05 dplyr를 이용한 데이터 처리

### 학습내용
* dplyr 패키지의 함수를 알아보기

| 함수 | 설명 | 
|:--------:|:--------:|
| filter() | 행 추출 | 
| select() | 열(변수) 추출 |
| arrange() | 정렬 | 
| mutate() | 변수(variable) 추가 | 
| summarise() | 통계치 산출 | 
| group_by() | 집단별로 나누기  |
| left_join() | 데이터 합치기(열) | 
| bind_rows() | 데이터 합치기(행) |

In [78]:
library(dplyr)
titanic <- read.csv("D:\\dataset\\titanic_data\\tr_mod.csv")
head(titanic,10)

   PassengerId Survived Pclass
1   1          0        3
2   2          1        1
3   3          1        3
4   4          1        1
5   5          0        3
6   6          0        3
7   7          0        1
8   8          0        3
9   9          1        3
10 10          1        2
   Name                                                Sex    Age SibSp Parch
1  Braund, Mr. Owen Harris                             male   22  1     0
2  Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3  Heikkinen, Miss. Laina                              female 26  0     0
4  Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5  Allen, Mr. William Henry                            male   35  0     0
6  Moran, Mr. James                                    male   29  0     0
7  McCarthy, Mr. Timothy J                             male   54  0     0
8  Palsson, Master. Gosta Leonard                      male    2  3     1
9  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female 27  0     2
10 Nasser, Mrs. Nicholas (Adele Achem)                 female 14  1     0
   Ticket           Fare    Cabin Embarked
1  A/5 21171         7.2500 NA    S
2  PC 17599         71.2833 C85   C
3  STON/O2. 3101282  7.9250 NA    S
4  113803           53.1000 C123  S
5  373450            8.0500 NA    S
6  330877            8.4583 NA    Q
7  17463            51.8625 E46   S
8  349909           21.0750 NA    S
9  347742           11.1333 NA    S
10 237736           30.0708 NA    C

In [79]:
names(titanic)

 [1] "PassengerId" "Survived"    "Pclass"      "Name"        "Sex"
 [6] "Age"         "SibSp"       "Parch"       "Ticket"      "Fare"
[11] "Cabin"       "Embarked"

In [80]:
table(titanic$Pclass)

  1   2   3
216 184 491

### titanic에서 Pclass가 1인 값만 가져오기
* filter(조건)
* titanic %>% filter(Pclass==1)

In [81]:
dat <- titanic %>% filter(Pclass==1)
head(dat,10)

   PassengerId Survived Pclass
1   2          1        1
2   4          1        1
3   7          0        1
4  12          1        1
5  24          1        1
6  28          0        1
7  31          0        1
8  32          1        1
9  35          0        1
10 36          0        1
   Name                                                Sex    Age SibSp Parch
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
2  Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
3  McCarthy, Mr. Timothy J                             male   54  0     0
4  Bonnell, Miss. Elizabeth                            female 58  0     0
5  Sloper, Mr. William Thompson                        male   28  0     0
6  Fortune, Mr. Charles Alexander                      male   19  3     2
7  Uruchurtu, Don. Manuel E                            male   40  0     0
8  Spencer, Mrs. William Augustus (Marie Eugenie)      female 29  1     0
9  Meyer, Mr. Edgar Joseph                             male   28  1     0
10 Holverson, Mr. Alexander Oskar                      male   42  1     0
   Ticket   Fare     Cabin       Embarked
1  PC 17599  71.2833 C85         C
2  113803    53.1000 C123        S
3  17463     51.8625 E46         S
4  113783    26.5500 C103        S
5  113788    35.5000 A6          S
6  19950    263.0000 C23 C25 C27 S
7  PC 17601  27.7208 NA          C
8  PC 17569 146.5208 B78         C
9  PC 17604  82.1708 NA          C
10 113789    52.0000 NA          S

### (ex) 5-1 실습해 보기 
* filter를 이용하여 Embarked가 C인 경우 출력해보기
* filter를 이용하여 Embarked가 C가 아닌 경우 행 보기

In [82]:
# 1등급에 탄 30세 미만인 사람들은 몇몇이나?
dat <- titanic %>% filter(Pclass==1 & Age <=30)   # 클래스가 1이면서 30점 미만 출력
count(dat)
dat

  n
1 91

    PassengerId Survived Pclass
1    24         1        1
2    28         0        1
3    32         1        1
4    35         0        1
5    56         1        1
6    65         0        1
7    84         0        1
8    89         1        1
9    98         1        1
10  103         0        1
11  119         0        1
12  137         1        1
13  140         0        1
14  152         1        1
15  167         1        1
16  169         0        1
17  186         0        1
18  257         1        1
19  258         1        1
20  271         0        1
21  285         0        1
22  291         1        1
23  292         1        1
24  296         0        1
25  298         0        1
26  299         1        1
27  306         1        1
28  307         1        1
29  308         1        1
30  310         1        1
... ...         ...      ...
62  586         1        1
63  603         0        1
64  608         1        1
65  628         1        1
66  634         0        1
67  642         1        1
68  670         1        1
69  682         1        1
70  690         1        1
71  701         1        1
72  709         1        1
73  711         1        1
74  712         0        1
75  725         1        1
76  731         1        1
77  741         1        1
78  743         1        1
79  749         0        1
80  767         0        1
81  782         1        1
82  783         0        1
83  794         0        1
84  803         1        1
85  816         0        1
86  840         1        1
87  843         1        1
88  850         1        1
89  854         1        1
90  888         1        1
91  890         1        1
    Name
1   Sloper, Mr. William Thompson
2   Fortune, Mr. Charles Alexander
3   Spencer, Mrs. William Augustus (Marie Eugenie)
4   Meyer, Mr. Edgar Joseph
5   Woolner, Mr. Hugh
6   Stewart, Mr. Albert A
7   Carrau, Mr. Francisco M
8   Fortune, Miss. Mabel Helen
9   Greenfield, Mr. William Bertram
10  White, Mr. Richard Frasar
11  Baxter, Mr. Quigg Edmond
12  Newsom, Miss. Helen Monypeny
13  Giglio, Mr. Victor
14  Pears, Mrs. Thomas (Edith Wearne)
15  Chibnall, Mrs. (Edith Martha Bowerman)
16  Baumann, Mr. John D
17  Rood, Mr. Hugh Roscoe
18  Thorne, Mrs. Gertrude Maybelle
19  Cherry, Miss. Gladys
20  Cairns, Mr. Alexander
21  Smith, Mr. Richard William
22  Barber, Miss. Ellen "Nellie"
23  Bishop, Mrs. Dickinson H (Helen Walton)
24  Lewy, Mr. Ervin G
25  Allison, Miss. Helen Loraine
26  Saalfeld, Mr. Adolphe
27  Allison, Master. Hudson Trevor
28  Fleming, Miss. Margaret
29  Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
30  Francatelli, Miss. Laura Mabel
... ...
62  Taussig, Miss. Ruth
63  Harrington, Mr. Charles H
64  Daniel, Mr. Robert Williams
65  Longley, Miss. Gretchen Fiske
66  Parr, Mr. William Henry Marsh
67  Sagesser, Mlle. Emma
68  Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
69  Hassab, Mr. Hammad
70  Madill, Miss. Georgette Alexandra
71  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
72  Cleaver, Miss. Alice
73  Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
74  Klaber, Mr. Herman
75  Chambers, Mr. Norman Campbell
76  Allen, Miss. Elisabeth Walton
77  Hawksford, Mr. Walter James
78  Ryerson, Miss. Susan Parker "Suzette"
79  Marvin, Mr. Daniel Warner
80  Brewe, Dr. Arthur Jackson
81  Dick, Mrs. Albert Adrian (Vera Gillespie)
82  Long, Mr. Milton Clyde
83  Hoyt, Mr. William Fisher
84  Carter, Master. William Thornton II
85  Fry, Mr. Richard
86  Marechal, Mr. Pierre
87  Serepeca, Miss. Augusta
88  Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
89  Lines, Miss. Mary Conover
90  Graham, Miss. Margaret Edith
91  Behr, Mr. Karl Howell
    Sex    Age   SibSp Parch Ticket   Fare     Cabin           Embarked
1   male   28.00 0     0     113788    35.5000 A6              S
2   male   19.00 3     2     19950    263.0000 C23 C25 C27     S
3   female 29.00 1     0     PC 17569 146.5208 B78             C
4   male   28.00 1     0     PC 17604  82.1708 NA              C
5   male   29.00 0     0     19947     35.5000 C52             S
6   male   29.00 0     0     PC 17605  27.7208 NA              C
7   male   28.00 0     0     113059    47.1000 NA              S
8   female 23.00 3     2     19950    263.0000 C23 C25 C27     S
9   male   23.00 0     1     PC 17759  63.3583 D10 D12         C
10  male   21.00 0     1     35281     77.2875 D26             S
11  male   24.00 0     1     PC 17558 247.5208 B58 B60         C
12  female 19.00 0     2     11752     26.2833 D47             S
13  male   24.00 0     0     PC 17593  79.2000 B86             C
14  female 22.00 1     0     113776    66.6000 C2              S
15  female 29.00 0     1     113505    55.0000 E33             S
16  male   29.00 0     0     PC 17318  25.9250 NA              S
17  male   29.00 0     0     113767    50.0000 A32             S
18  female 29.00 0     0     PC 17585  79.2000 NA              C
19  female 30.00 0     0     110152    86.5000 B77             S
20  male   29.00 0     0     113798    31.0000 NA              S
21  male   29.00 0     0     113056    26.0000 A19             S
22  female 26.00 0     0     19877     78.8500 NA              S
23  female 19.00 1     0     11967     91.0792 B49             C
24  male   29.00 0     0     PC 17612  27.7208 NA              C
25  female  2.00 1     2     113781   151.5500 C22 C26         S
26  male   29.00 0     0     19988     30.5000 C106            S
27  male    0.92 1     2     113781   151.5500 C22 C26         S
28  female 29.00 0     0     17421    110.8833 NA              C
29  female 17.00 1     0     PC 17758 108.9000 C65             C
30  female 30.00 0     0     PC 17485  56.9292 E36             C
... ...    ...   ...   ...   ...      ...      ...             ...
62  female 18    0     2     110413    79.6500 E68             S
63  male   29    0     0     113796    42.4000 NA              S
64  male   27    0     0     113804    30.5000 NA              S
65  female 21    0     0     13502     77.9583 D9              S
66  male   29    0     0     112052     0.0000 NA              S
67  female 24    0     0     PC 17477  69.3000 B35             C
68  female 29    1     0     19996     52.0000 C126            S
69  male   27    0     0     PC 17572  76.7292 D49             C
70  female 15    0     1     24160    211.3375 B5              S
71  female 18    1     0     PC 17757 227.5250 C62 C64         C
72  female 22    0     0     113781   151.5500 NA              S
73  female 24    0     0     PC 17482  49.5042 C90             C
74  male   29    0     0     113028    26.5500 C124            S
75  male   27    1     0     113806    53.1000 E8              S
76  female 29    0     0     24160    211.3375 B5              S
77  male   29    0     0     16988     30.0000 D45             S
78  female 21    2     2     PC 17608 262.3750 B57 B59 B63 B66 C
79  male   19    1     0     113773    53.1000 D30             S
80  male   29    0     0     112379    39.6000 NA              C
81  female 17    1     0     17474     57.0000 B20             S
82  male   29    0     0     113501    30.0000 D6              S
83  male   29    0     0     PC 17600  30.6958 NA              C
84  male   11    1     2     113760   120.0000 B96 B98         S
85  male   29    0     0     112058     0.0000 B102            S
86  male   29    0     0     11774     29.7000 C47             C
87  female 30    0     0     113798    31.0000 NA              C
88  female 29    1     0     17453     89.1042 C92             C
89  female 16    0     1     PC 17592  39.4000 D28             S
90  female 19    0     0     112053    30.0000 B42             S
91  male   26    0     0     111369    30.0000 C148            C

In [83]:
# 1등급에 항구별 사람들?
dat <- titanic %>% filter(Pclass==1 & Embarked=='S')   # 클래스가 1이면서 30점 미만 출력
count(dat)
dat <- titanic %>% filter(Pclass==1 & Embarked=='C')   # 클래스가 1이면서 30점 미만 출력
count(dat)
dat <- titanic %>% filter(Pclass==1 & Embarked=='Q')   # 클래스가 1이면서 30점 미만 출력
count(dat)

  n
1 129

  n
1 85

  n
1 2

### 1,3,5반에 해당되는 친구 출력 %in% 이용
* filter ( 컬럼명 %in% c(1,3,5))

In [84]:
## 2등급, 3등급
dat <- titanic %>% filter( Pclass %in% c(2,3) )
count(dat)    
dim(titanic)
is(dim(titanic))
dim(titanic)[1]   # 행 출력

  n
1 675

[1] 891  12

[1] "integer"             "numeric"             "vector"
[4] "data.frameRowLabels"

[1] 891

In [85]:
count(dat) / dim(titanic)[1]

  n
1 0.7575758

### 5-2 필요한 변수만 추출하기
* select(변수명)

In [86]:
names(titanic)

 [1] "PassengerId" "Survived"    "Pclass"      "Name"        "Sex"
 [6] "Age"         "SibSp"       "Parch"       "Ticket"      "Fare"
[11] "Cabin"       "Embarked"

In [87]:
dat <- titanic %>% select(Pclass, Name, Sex)
head(dat,10)

   Pclass Name                                                Sex
1  3      Braund, Mr. Owen Harris                             male
2  1      Cumings, Mrs. John Bradley (Florence Briggs Thayer) female
3  3      Heikkinen, Miss. Laina                              female
4  1      Futrelle, Mrs. Jacques Heath (Lily May Peel)        female
5  3      Allen, Mr. William Henry                            male
6  3      Moran, Mr. James                                    male
7  1      McCarthy, Mr. Timothy J                             male
8  3      Palsson, Master. Gosta Leonard                      male
9  3      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female
10 2      Nasser, Mrs. Nicholas (Adele Achem)                 female

In [88]:
sel <- c('Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp')
dat <- titanic %>% select(sel)
head(dat,10)

   Survived Pclass Name                                                Sex
1  0        3      Braund, Mr. Owen Harris                             male
2  1        1      Cumings, Mrs. John Bradley (Florence Briggs Thayer) female
3  1        3      Heikkinen, Miss. Laina                              female
4  1        1      Futrelle, Mrs. Jacques Heath (Lily May Peel)        female
5  0        3      Allen, Mr. William Henry                            male
6  0        3      Moran, Mr. James                                    male
7  0        1      McCarthy, Mr. Timothy J                             male
8  0        3      Palsson, Master. Gosta Leonard                      male
9  1        3      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female
10 1        2      Nasser, Mrs. Nicholas (Adele Achem)                 female
   Age SibSp
1  22  1
2  38  1
3  26  0
4  35  1
5  35  0
6  29  0
7  54  0
8   2  3
9  27  0
10 14  1

### 변수 제외

In [90]:
dat <- titanic %>% select(-Survived)
head(dat,10)

   PassengerId Pclass Name
1   1          3      Braund, Mr. Owen Harris
2   2          1      Cumings, Mrs. John Bradley (Florence Briggs Thayer)
3   3          3      Heikkinen, Miss. Laina
4   4          1      Futrelle, Mrs. Jacques Heath (Lily May Peel)
5   5          3      Allen, Mr. William Henry
6   6          3      Moran, Mr. James
7   7          1      McCarthy, Mr. Timothy J
8   8          3      Palsson, Master. Gosta Leonard
9   9          3      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10 10          2      Nasser, Mrs. Nicholas (Adele Achem)
   Sex    Age SibSp Parch Ticket           Fare    Cabin Embarked
1  male   22  1     0     A/5 21171         7.2500 NA    S
2  female 38  1     0     PC 17599         71.2833 C85   C
3  female 26  0     0     STON/O2. 3101282  7.9250 NA    S
4  female 35  1     0     113803           53.1000 C123  S
5  male   35  0     0     373450            8.0500 NA    S
6  male   29  0     0     330877            8.4583 NA    Q
7  male   54  0     0     17463            51.8625 E46   S
8  male    2  3     1     349909           21.0750 NA    S
9  female 27  0     2     347742           11.1333 NA    S
10 female 14  1     0     237736           30.0708 NA    C

In [91]:
dat <- titanic %>% select(-PassengerId, -Survived)
head(dat,10)

   Pclass Name                                                Sex    Age SibSp
1  3      Braund, Mr. Owen Harris                             male   22  1
2  1      Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1
3  3      Heikkinen, Miss. Laina                              female 26  0
4  1      Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1
5  3      Allen, Mr. William Henry                            male   35  0
6  3      Moran, Mr. James                                    male   29  0
7  1      McCarthy, Mr. Timothy J                             male   54  0
8  3      Palsson, Master. Gosta Leonard                      male    2  3
9  3      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female 27  0
10 2      Nasser, Mrs. Nicholas (Adele Achem)                 female 14  1
   Parch Ticket           Fare    Cabin Embarked
1  0     A/5 21171         7.2500 NA    S
2  0     PC 17599         71.2833 C85   C
3  0     STON/O2. 3101282  7.9250 NA    S
4  0     113803           53.1000 C123  S
5  0     373450            8.0500 NA    S
6  0     330877            8.4583 NA    Q
7  0     17463            51.8625 E46   S
8  1     349909           21.0750 NA    S
9  2     347742           11.1333 NA    S
10 0     237736           30.0708 NA    C

### filter()와 select() 합치기

### PClass 1등급의 Survived 를 뺀 열 전체 보기

In [92]:
names(titanic)

 [1] "PassengerId" "Survived"    "Pclass"      "Name"        "Sex"
 [6] "Age"         "SibSp"       "Parch"       "Ticket"      "Fare"
[11] "Cabin"       "Embarked"

In [93]:
sel <- c('Survived')
dat <- titanic %>% filter(Pclass==1) %>% select(-sel)
head(dat,10)

   PassengerId Pclass Name
1   2          1      Cumings, Mrs. John Bradley (Florence Briggs Thayer)
2   4          1      Futrelle, Mrs. Jacques Heath (Lily May Peel)
3   7          1      McCarthy, Mr. Timothy J
4  12          1      Bonnell, Miss. Elizabeth
5  24          1      Sloper, Mr. William Thompson
6  28          1      Fortune, Mr. Charles Alexander
7  31          1      Uruchurtu, Don. Manuel E
8  32          1      Spencer, Mrs. William Augustus (Marie Eugenie)
9  35          1      Meyer, Mr. Edgar Joseph
10 36          1      Holverson, Mr. Alexander Oskar
   Sex    Age SibSp Parch Ticket   Fare     Cabin       Embarked
1  female 38  1     0     PC 17599  71.2833 C85         C
2  female 35  1     0     113803    53.1000 C123        S
3  male   54  0     0     17463     51.8625 E46         S
4  female 58  0     0     113783    26.5500 C103        S
5  male   28  0     0     113788    35.5000 A6          S
6  male   19  3     2     19950    263.0000 C23 C25 C27 S
7  male   40  0     0     PC 17601  27.7208 NA          C
8  female 29  1     0     PC 17569 146.5208 B78         C
9  male   28  1     0     PC 17604  82.1708 NA          C
10 male   42  1     0     113789    52.0000 NA          S

### PClass의 1등급 5행만 보기

In [95]:
titanic %>% filter(Pclass==1) %>% head(5)

  PassengerId Survived Pclass
1  2          1        1
2  4          1        1
3  7          0        1
4 12          1        1
5 24          1        1
  Name                                                Sex    Age SibSp Parch
1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
2 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
3 McCarthy, Mr. Timothy J                             male   54  0     0
4 Bonnell, Miss. Elizabeth                            female 58  0     0
5 Sloper, Mr. William Thompson                        male   28  0     0
  Ticket   Fare    Cabin Embarked
1 PC 17599 71.2833 C85   C
2 113803   53.1000 C123  S
3 17463    51.8625 E46   S
4 113783   26.5500 C103  S
5 113788   35.5000 A6    S

### 더해보기 p138

### 5-3 나이 순서대로 정렬해 보기 
* arrange(기준컬럼)

In [96]:
titanic %>% arrange(Age) %>% head(10)

   PassengerId Survived Pclass Name                            Sex    Age
1  804         1        3      Thomas, Master. Assad Alexander male   0.42
2  756         1        2      Hamalainen, Master. Viljo       male   0.67
3  470         1        3      Baclini, Miss. Helene Barbara   female 0.75
4  645         1        3      Baclini, Miss. Eugenie          female 0.75
5   79         1        2      Caldwell, Master. Alden Gates   male   0.83
6  832         1        2      Richards, Master. George Sibley male   0.83
7  306         1        1      Allison, Master. Hudson Trevor  male   0.92
8  165         0        3      Panula, Master. Eino Viljami    male   1.00
9  173         1        3      Johnson, Miss. Eleanor Ileen    female 1.00
10 184         1        2      Becker, Master. Richard F       male   1.00
   SibSp Parch Ticket  Fare     Cabin   Embarked
1  0     1     2625      8.5167 NA      C
2  1     1     250649   14.5000 NA      S
3  2     1     2666     19.2583 NA      C
4  2     1     2666     19.2583 NA      C
5  0     2     248738   29.0000 NA      S
6  1     1     29106    18.7500 NA      S
7  1     2     113781  151.5500 C22 C26 S
8  4     1     3101295  39.6875 NA      S
9  1     1     347742   11.1333 NA      S
10 2     1     230136   39.0000 F4      S

In [97]:
titanic %>% arrange(Age) %>% head

  PassengerId Survived Pclass Name                            Sex    Age  SibSp
1 804         1        3      Thomas, Master. Assad Alexander male   0.42 0
2 756         1        2      Hamalainen, Master. Viljo       male   0.67 1
3 470         1        3      Baclini, Miss. Helene Barbara   female 0.75 2
4 645         1        3      Baclini, Miss. Eugenie          female 0.75 2
5  79         1        2      Caldwell, Master. Alden Gates   male   0.83 0
6 832         1        2      Richards, Master. George Sibley male   0.83 1
  Parch Ticket Fare    Cabin Embarked
1 1     2625    8.5167 NA    C
2 1     250649 14.5000 NA    S
3 1     2666   19.2583 NA    C
4 1     2666   19.2583 NA    C
5 2     248738 29.0000 NA    S
6 1     29106  18.7500 NA    S

In [98]:
### 합계를 구해서 이를 이용하여 정렬하기
titanic$SibSp_Parch <- titanic$SibSp + titanic$Parch
head(titanic, 10)

   PassengerId Survived Pclass
1   1          0        3
2   2          1        1
3   3          1        3
4   4          1        1
5   5          0        3
6   6          0        3
7   7          0        1
8   8          0        3
9   9          1        3
10 10          1        2
   Name                                                Sex    Age SibSp Parch
1  Braund, Mr. Owen Harris                             male   22  1     0
2  Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3  Heikkinen, Miss. Laina                              female 26  0     0
4  Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5  Allen, Mr. William Henry                            male   35  0     0
6  Moran, Mr. James                                    male   29  0     0
7  McCarthy, Mr. Timothy J                             male   54  0     0
8  Palsson, Master. Gosta Leonard                      male    2  3     1
9  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female 27  0     2
10 Nasser, Mrs. Nicholas (Adele Achem)                 female 14  1     0
   Ticket           Fare    Cabin Embarked SibSp_Parch
1  A/5 21171         7.2500 NA    S        1
2  PC 17599         71.2833 C85   C        1
3  STON/O2. 3101282  7.9250 NA    S        0
4  113803           53.1000 C123  S        1
5  373450            8.0500 NA    S        0
6  330877            8.4583 NA    Q        0
7  17463            51.8625 E46   S        0
8  349909           21.0750 NA    S        4
9  347742           11.1333 NA    S        2
10 237736           30.0708 NA    C        1

In [99]:
titanic %>% arrange(desc(SibSp_Parch)) %>% head(10) # 내림 차순 정렬

   PassengerId Survived Pclass Name                               Sex    Age
1  160         0        3      Sage, Master. Thomas Henry         male   29
2  181         0        3      Sage, Miss. Constance Gladys       female 29
3  202         0        3      Sage, Mr. Frederick                male   29
4  325         0        3      Sage, Mr. George John Jr           male   29
5  793         0        3      Sage, Miss. Stella Anna            female 29
6  847         0        3      Sage, Mr. Douglas Bullen           male   29
7  864         0        3      Sage, Miss. Dorothy Edith "Dolly"  female 29
8   60         0        3      Goodwin, Master. William Frederick male   11
9   72         0        3      Goodwin, Miss. Lillian Amy         female 16
10 387         0        3      Goodwin, Master. Sidney Leonard    male    1
   SibSp Parch Ticket   Fare  Cabin Embarked SibSp_Parch
1  8     2     CA. 2343 69.55 NA    S        10
2  8     2     CA. 2343 69.55 NA    S        10
3  8     2     CA. 2343 69.55 NA    S        10
4  8     2     CA. 2343 69.55 NA    S        10
5  8     2     CA. 2343 69.55 NA    S        10
6  8     2     CA. 2343 69.55 NA    S        10
7  8     2     CA. 2343 69.55 NA    S        10
8  5     2     CA 2144  46.90 NA    S         7
9  5     2     CA 2144  46.90 NA    S         7
10 5     2     CA 2144  46.90 NA    S         7

### 실습과제 5-3 
* titanic 데이터를 이용해서 분석 문제를 해결해 보시오.
* 어떤 경우에 생존자가 가장 많은가? (여성/남성, 나이대, 형제나자매수, Embarked 등)

### 5-4 파생변수 추가하기
* mutate(변수명)
* titanic$SibSp_Parch_m 생성
* titanic %>% mutate(SibSp_Parch_m= SibSp + Parch) %>% head

In [100]:
titanic %>% mutate(SibSp_Parch_m = SibSp + Parch) %>% head

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   29  0     0
  Ticket           Fare    Cabin Embarked SibSp_Parch SibSp_Parch_m
1 A/5 21171         7.2500 NA    S        1           1
2 PC 17599         71.2833 C85   C        1           1
3 STON/O2. 3101282  7.9250 NA    S        0           0
4 113803           53.1000 C123  S        1           1
5 373450            8.0500 NA    S        0           0
6 330877            8.4583 NA    Q        0           0

### 여러개의 변수를 생성하기

In [101]:
titanic %>% mutate(EM_C = ifelse(Embarked=='C',1,0), EM_S = ifelse(Embarked=='S',1,0)) %>% head

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   29  0     0
  Ticket           Fare    Cabin Embarked SibSp_Parch EM_C EM_S
1 A/5 21171         7.2500 NA    S        1           0    1
2 PC 17599         71.2833 C85   C        1           1    0
3 STON/O2. 3101282  7.9250 NA    S        0           0    1
4 113803           53.1000 C123  S        1           0    1
5 373450            8.0500 NA    S        0           0    1
6 330877            8.4583 NA    Q        0           0    0

In [102]:
summary(titanic$Age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.42   22.00   29.00   29.56   35.00   80.00

### 5-5 집단별로 요약하기
* group_by()
* summarise()

### exam의 math, english, science의 평균을 구해보자

* summarise(변수명 = mean(변수명))

In [103]:
titanic %>% summarise(mean_age = mean(Age))

  mean_age
1 29.56024

In [104]:
titanic %>% summarise(mean_age = mean(Age), 
                    mean_Fare = mean(Fare))

  mean_age mean_Fare
1 29.56024 32.20421

### 집단별로 분리해서 위의 내용을 출력해 보자.
* 그룹으로 묶고 이에 대한 요약값을 구하기
* 데이터 셋 %>% group_by(변수명) %>% summarise(...)

In [105]:
titanic %>% group_by(Pclass) %>% summarise(mean_age = mean(Age), 
                    mean_Fare = mean(Fare))

  Pclass mean_age mean_Fare
1 1      36.95102 84.15469
2 2      29.82516 20.66218
3 3      26.20961 13.67555

In [107]:
titanic %>% group_by(Pclass) %>% 
          summarise(mean_age = mean(Age), 
                    mean_Fare = mean(Fare),
                    mean_SibSp_Parch = mean(SibSp_Parch), 
                    n=n())

  Pclass mean_age mean_Fare mean_SibSp_Parch n
1 1      36.95102 84.15469  0.7731481        216
2 2      29.82516 20.66218  0.7826087        184
3 3      26.20961 13.67555  1.0081466        491

| 함수 | 설명 | 
|:--------:|:--------:|
| mean() | 평균 | 
| sd() | 표준편차 |
| sum() | 합계 | 
| median() | 중앙값 | 
| min() | 최솟값 | 
| max() | 최댓값  |
| n() | 빈도 |

### mpg 데이터 셋 불러오기

In [108]:
library(ggplot2)

In [109]:
mpg <- ggplot2::mpg

In [110]:
head(mpg)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

### 제조사별 구동방식(drv)별 cty(도시연비)의 평균 산출하기
* drv(구동방식)
  * 4 사륜 구동
  * f 전륜 구동
  * r 후륜 구동

In [111]:
mpg %>% group_by(manufacturer, drv) %>% 
     summarise(mean_cty = mean(cty)) %>%
     head(10)

   manufacturer drv mean_cty
1  audi         4   16.81818
2  audi         f   18.85714
3  chevrolet    4   12.50000
4  chevrolet    f   18.80000
5  chevrolet    r   14.10000
6  dodge        4   12.00000
7  dodge        f   15.81818
8  ford         4   13.30769
9  ford         r   14.75000
10 honda        f   24.44444

### 실습과제 5-4
* 회사별로 분리한다.(group_by)
* class에서 suv 추출한다.(행) - filter()
* total(통합 연비) 파생변수 생성 - mutate()
* total(통합 연비) 의 평균 mean_total를 산출 - summarise()
* arrange() 내림 차순의 정렬
* 1~5위까지 : head()

In [112]:
mpg %>%
  group_by(manufacturer) %>%
  filter(class=="suv") %>%
  mutate(tot = (cty + hwy)/2) %>%
  summarise(mean_tot = mean(tot)) %>%
  arrange(desc(mean_tot)) %>% head(5)

  manufacturer mean_tot
1 subaru       21.91667
2 toyota       16.31250
3 nissan       15.87500
4 mercury      15.62500
5 jeep         15.56250

### 더해보기 p150

### 5-6 데이터 합치기
* dplyr:left_join()
* bind_rows()

In [113]:
kor <- data.frame(id=c(1,2,3,4,5), 
                   kor=c(80,80,70,90,100))
math <- data.frame(id=c(1,2,3,4,5),
                   math=c(100,80,90,70,60))
eng <- data.frame(id=c(1,2,3,4,6),
                  eng=c(100,70,50,60,90))

* left_join(데이터셋1, 데이터셋2, by='컬럼명')

In [114]:
total <- left_join(kor, math, by='id')
total

  id kor math
1 1   80 100
2 2   80  80
3 3   70  90
4 4   90  70
5 5  100  60

In [115]:
total_all <- left_join(total, eng, by='id')
total_all

  id kor math eng
1 1   80 100  100
2 2   80  80   70
3 3   70  90   50
4 4   90  70   60
5 5  100  60   NA

In [116]:
total_all2 <- left_join(eng, total, by='id')
total_all2

  id eng kor math
1 1  100 80  100
2 2   70 80   80
3 3   50 70   90
4 4   60 90   70
5 6   90 NA   NA

### 세로(행) 합치기, 행 추가

In [117]:
kor1 <- data.frame(id=c(1,2,3,4,5), 
                   kor=c(80,80,70,90,100))
kor2 <- data.frame(id=c(6,7,8,9,10), 
                   kor=c(80,80,70,90,100))

In [118]:
kor_all <- bind_rows(kor1, kor2)

In [119]:
kor_all

   id kor
1   1  80
2   2  80
3   3  70
4   4  90
5   5 100
6   6  80
7   7  80
8   8  70
9   9  90
10 10 100

### 변수가 kor로 동일하여 가능, 하지만 다를 경우는 어떻게 해야 하나? rename()를 이용하여 동일하게 한 이후에 합치기 가능

<font size=2> Copyright 2019 LIM Co.(예영Edu Co.) all rights reserved. </font><br>
<font size=2> 교육용으로 작성된 것으로 배포 및 복제시에 사전 허가가 필요합니다.</font>